<div class="monForm">
  <section class="subForm saisieForm">
    <h2>Nouveau CD</h2>
    <form [formGroup]="formulaire">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Artiste</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
      <div class="form-group">
        <label for="thumbnail">Vignette</label>
        <input type="url" class="form-control" id="thumbnail" formControlName="thumbnail">
      </div>
      <div class="form-group">
        <label for="dateDeSortie">Date de sortie</label>
        <input type="string" class="form-control" id="dateDeSortie" formControlName="dateDeSortie">
      </div>
      <div class="form-group">
        <label for="quantity">Quantité</label>
        <input type="number" class="form-control" id="quantity" formControlName="quantity" min="0">
      </div>
      <button type="submit" class="button" (click)="addCD()">Créer</button>
    </form>
  </section>
  <section class="vueForm">
    <h2>vue CD</h2>
    <div *ngIf="currentCD$ | async as unCd">
      <h3>{{unCd.title|uppercase}}</h3>
      <p>Sortie le : {{unCd.dateDeSortie| date: 'dd/mm/yyyy'}}</p>
      <p>Auteur : {{unCd.author}}</p>
      <p>Prix : {{ unCd.price | currency: 'EUR'}}</p>
      <p>En stock : <span [ngStyle]="{color:'rgb(0,'+ unCd.quantity+',0)'}">{{ unCd.quantity}}</span></p>
      <br>
      <img [src]="unCd.thumbnail" [alt]="unCd.title">
    </div>
  </section>
</div>
